<!--
    Header file will be included at top of all view files.
    This will make it easier to add same code to all view files
    like links, the navbar and flash messages
-->

<!DOCTYPE html>
    <html>
        <head>
            <title>Project</title>
            <script type ="text/javascript"
                    src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <script type ="text/javascript" src='../javascripts/queries.js'></script>
            <link rel="stylesheet" href="../stylesheets/main.css">
        </head>
        <body>
          <div class="fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-success">
              <a class="navbar-brand" href="/">Project</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <% if(!currentUser){ %> 
                    <li class="nav-item">
                      <a class="nav-link" href="/user/login" >
                        <i class="fas fa-sign-in-alt" style="margin-right: 5px;"></i>Sign In
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/user/register">
                        <i class="fas fa-user-plus" style="margin-right: 5px;"></i>Sign Up
                      </a>
                    </li>
                  <% } else { %> 
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fas fa-user" style="margin-right: 5px;"></i>Signed in as <%= currentUser.username %>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/user/logout">
                        <i class="fas fa-sign-out-alt"style="margin-right: 5px;"></i>Log Out
                      </a>
                    </li>
                  <% } %> 
                </ul>
              </div>
          </nav>
          </div>

          <div style="margin-top: 75px;"></div>

            <div class="container">
              <% if(error && error.length > 0){ %>
                  <div class="alert alert-danger" role="alert">
                      <%= error %>
                  </div>
              <% } if(success && success.length > 0){ %>
                  <div class="alert alert-success" role="alert">
                      <%= success %>
                  </div>
              <% } %>
            </div>