<%- include("partials/header") %>

<div class="d-flex justify-content-center text-center">
    <div class="card shadow p-3 mb-5 bg-white rounded" style="width:25rem;">
        <div class="card-body">
            <h1>Register</h1>
                <form action="/user/register" method="post">
                <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" placeholder="username" required>
                </div>
                <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="password" required>
                </div>
                <button type="submit" class="btn btn-success">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer") %>